//
// user.scss
// Use this to write your custom SCSS
//
.card {
  background-color: rgba($color: #fff, $alpha: 0.3);
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}
.verysmall {
  font-size: 11px;
   }
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  
  .card {
      background-color: rgba($color: #fff, $alpha: 0);
      text-align: center;
      box-shadow: 0 .3rem 1.525rem -0.375rem rgba(0,0,0,0.0),0 .25rem .8125rem -0.125rem rgba(0,0,0,0.0) !important;
      border-color: none;
  }
}    

.hidden {
  display: none !important;
}

body {
  color: #645951 !important;
}
.thin {
  font-weight: 100 !important;
}
.gallery-item {
  filter: grayscale(1);
  border: 15px white solid;
  -webkit-box-shadow: 10px 10px 24px -1px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 24px -1px rgba(0,0,0,0.27);
box-shadow: 10px 10px 24px -1px rgba(0,0,0,0.27);
transition: 2s ease;
}

.gallery-item:hover {
  filter: grayscale(1);
  -webkit-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  transform: rotateZ(2deg);
  transition: 0.3s ease;
}

.gallery-item::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--si-gallery-overlay-bg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card-title {
  color: #645951 !important;
  font-size: 1em;
  letter-spacing: 2px;
}
.form-label {
  color: #645951 !important;
}
.form-check-label {
  color: #645951 !important;
}
.verysmall {
  color: #645951 !important;
}
.form-check-input {
  color: #645951 !important;
}
.form-check-input {
  border: 2px solid #645951;
}
.form-check-input:checked {
  color: #645951 !important;
}

